@{ 
    ViewBag.Title = "Erro";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>O utilizador corrente não tem as devidas permissões para aceder a esta aplicação.</h2>
    </hgroup>
</body>
</html>
