@{
    ViewBag.Title = "Home Page";

    if (Session["userName"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<div class="jumbotron" style="background-color:aliceblue">
    <p class="lead">Bem vindo ao Back Office do Portal de Candidaturas da Escola Naval</p>
</div>